{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CATSO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/siteweb/img/logo.png" rel="icon">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/siteweb/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/siteweb/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/siteweb/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/siteweb/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/siteweb/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="static/siteweb/css/variables.css" rel="stylesheet">
  <!-- <link href="static/siteweb/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="static/siteweb/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="static/siteweb/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="static/siteweb/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="static/siteweb/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="static/siteweb/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="static/siteweb/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.4.0
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="static/siteweb/img/logo.png" alt="">
        <!-- <h1>HeroBiz<span>.</span></h1> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          <li class="dropdown"><a href="#"><span>Home</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="index.html">Home 1 - index.html</a></li>
              <li><a href="#">Home 2 - index-2.html</a></li>
              <li><a href="#" class="active">Home 3 - index-3.html</a></li>
              <li><a href="#">Home 4 - index-4.html</a></li>
            </ul>
          </li>

          <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
          <li><a class="nav-link scrollto" href="index.html#services">Services</a></li>
          <li><a class="nav-link scrollto" href="index.html#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="index.html#team">Projects</a></li>
          <li><a href="#">Actualités</a></li>
          <!-- <li class="dropdown megamenu"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li>
                <a href="#">Column 1 link 1</a>
                <a href="#">Column 1 link 2</a>
                <a href="#">Column 1 link 3</a>
              </li>
              <li>
                <a href="#">Column 2 link 1</a>
                <a href="#">Column 2 link 2</a>
                <a href="#">Column 3 link 3</a>
              </li>
              <li>
                <a href="#">Column 3 link 1</a>
                <a href="#">Column 3 link 2</a>
                <a href="#">Column 3 link 3</a>
              </li>
              <li>
                <a href="#">Column 4 link 1</a>
                <a href="#">Column 4 link 2</a>
                <a href="#">Column 4 link 3</a>
              </li>
            </ul>
          </li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="#">Connectez vous</a></li>
          <li><a class="nav-link scrollto" href="#">Inscrivez vous</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      

    </div>
  </header><!-- End Header -->

  <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2 style="font-weight: bold;">Lancement de la Fusée <span style="background-color: rgb(5, 102, 212);">BI-VONDO35</span></h2>
      <p> <p id="demo" style="font-size: 40px; font-weight: bold;"></p></p>
      <div class="d-flex">
        <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <!-- <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div> -->
          <!-- End Service Item -->

          <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">Sed ut perspici</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div> -->
          <!-- End Service Item -->

          <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="" class="stretched-link">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div> -->
          <!-- End Service Item -->

          <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div> -->
          <!-- End Service Item -->

        <!-- </div>

      </div>
    </section> -->
    <!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>A propos De Nous</h2>
          <!-- <p>  EST UNE ENTREPRISE PRIVÉE, QUI A POUR OBJECTIF PRINCIPAL LA CONSTRUCTION D'UN POLE AERONAUTIQUE AU CAMEROUN, IL EN DECOULERA LE LANCEMENT DES FUSÉES, LA CONSTRUCTION DES DRONES ET AVION DE TRANSPORT, PAR LES CAMEROUNAIS POUR AFRIQUE ET LE MONDE</p> -->
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="static/siteweb/img/aer.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5"><span style="color: rgb(91, 167, 255) ; font-style: italic; font-weight: bold;"> CATSO </span>   est une entreprise privée qui a vu le jour en 2023 grace a une equipe dynamique</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Objectifs</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Visions</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Projets</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic"> Nous tenons a coeur les <b>objectifs</b> suivants : </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Creation de la premiere filiale d'aeronautique en afrique centrale</h4>
                </div>
                <p>En effet, nous souhaitons prendre le premiers pas dans la sous region dans ce secteur d'activité.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Etre une reference sur le plan international</h4>
                </div>
                <p>Reussir a s'imposer sur la scene international en matiere d'aeraunotique.</p>

                <!-- <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                </div>
                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p> -->

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">On se projecte à cours, à moyen et à long terme</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Inspirer la communauté sur un secteur peu exploité</h4>
                </div>
                <p>L'aeronautique est encore un concept dans notre region, notre vision est de demystifier ça</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Catalyser l'emergence via les multiples retour sur investissement</h4>
                </div>
                <p>Le developpement passe par plusieurs facteurs, on se veut de mettre notre pierre a l'edifice avec l'aeronautique</p>

                <!-- <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                </div>
                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p> -->

              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">

                <p class="fst-italic">Nos projets doivent etre a la hauteur des attentes</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Lancement de la fusée BI-VONDO</h4>
                </div>
                <p>C'est la toute premiere fusée realisé dans la sous region elle servira de satellite pour cette derniere</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Construction Des avions</h4>
                </div>
                <p>Des avions civils aux avions militaires notre equipe d'ingenieurs sera disposé a les realiser</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Constructions des drones civils et militaires</h4>
                </div>
                <p>la construtions des drone debutera d'ici quelque année, elle sera la toute premiere generation des drones catso</p>

              </div><!-- End Tab 3 Content -->

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= On Focus Section ======= -->
    <section id="onfocuse" class="onfocuse">
      <div class="container-fluid p-0" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3><span style="background-color: rgb(91, 167, 255) ;">CATSO inc</span> en Video</h3>
              <p class="fst-italic">
                Decouvrez la presentation de l'entreprise privée d'aeraunotique d'afrique centrale 
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> 1ere Entreprise aeraunotique d'afrique centrale</li>
                <li><i class="bi bi-check-circle"></i> Plusieurs secteurs d'activités</li>
                <li><i class="bi bi-check-circle"></i> Catalyseur de developpement</li>
              </ul>
              <a href="#" class="read-more align-self-start"><span>Contactez nous</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nos Filiales</h2>
          <p>CATSO se divise en plusieurs sous domaines a savoir</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="static/siteweb/img/drone.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-chevron-expand"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>CATSO DRONE</h3>
                </a>
                <p>Conception et Frabrication des Drones Civils, Legers et Militaires</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="static/siteweb/img/avion.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-cloud-fog2"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>CATSO AVIATION</h3>
                </a>
                <p>Helicoptere, Avion Civil, M-16, Boeing </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="static/siteweb/img/fuseee.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-eject-fill"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>CATSO AERONAUTIQUE</h3>
                </a>
                <p>Fusée satellitaire, Lunaire, amarrage d'une autre planete,  </p>
              </div>
            </div>
          </div><!-- End Service Item -->


          

        </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3>Decouvrez le projet <span style="background-color: rgb(91, 167, 255) ;">BI-VONDO35</span></h3>
              <p class="fst-italic">
                Premiere fusée satellitaire d'afrique centrale, Lacement prévu en 2035, cette fusée a pour objectifs
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Independance satellitaire africaine</li>
                <li><i class="bi bi-check-circle"></i> Fourniture des services tels que Connexion internet ultra rapide ou bien le mapage (carte)</li>
                <li><i class="bi bi-check-circle"></i> Exploration de l'espace</li>
              </ul>
              <a href="#" class="read-more align-self-start"><span>En Savoir Plus</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recents-blog-posts" class="recents-blog-posts">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Actualités</h2>
          <!-- <p>Recent posts form our Blog</p> -->
        </div>

        <div class="row">

          <div class="scroll-container">
            <div class="gridscroll">
              <div class="item">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="post-box">
                    <div class="post-img"><img src="static/siteweb/img/blog/nasa.JPG" class="img-fluid" alt=""></div>
                    <div class="meta">
                      <span class="post-date">Tue, December 12</span>
                      <span class="post-author"> / Brandon Sited</span>
                    </div>
                    <h3 class="post-title">La NASA prevoit de deployer 35 astronautes en JANVIER 2023</h3>
                    <p style="color: white;">Hier soir, via un commuiqué sur leur site officiel, la nasa prevoit de deployer une trentaine d'astronaute sur la planete blanche d'ici 2023. Ces astraunotes prendront...</p>
                    <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                  <div class="post-box">
                    <div class="post-img"><img src="static/siteweb/img/blog/crash.jpg" class="img-fluid" alt=""></div>
                    <div class="meta">
                      <span class="post-date">Fri, September 05</span>
                      <span class="post-author"> / Mario Douglas</span>
                    </div>
                    <h3 class="post-title">Crash a SAN-Franscico</h3>
                    <p style="color: white;">Ce fut un veritable drame dans la localité de San-Franscico un Boieng 749 a fait un crash emportant avec lui 30 blessés et 10 morts...</p>
                    <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
                  <div class="post-box">
                    <div class="post-img"><img src="static/siteweb/img/blog/droneMi.jpg" class="img-fluid" alt=""></div>
                    <div class="meta">
                      <span class="post-date">Tue, July 27</span>
                      <span class="post-author"> / Reporter sans frontiere</span>
                    </div>
                    <h3 class="post-title">Des Drones Tueurs</h3>
              <p style="color: white;">La nouvelle génération des drones militaires fait un ravage dans l'armement, ces bijoux technologiques sont conçus pour detecter...</p>
                    <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          
        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->


    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Actualités</h2>
          <!-- <p>Recent posts form our Blog</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="post-box">
              <div class="post-img"><img src="static/siteweb/img/blog/nasa.JPG" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Tue, December 12</span>
                <span class="post-author"> / Brandon Sited</span>
              </div>
              <h3 class="post-title">La NASA prevoit de deployer 35 astronautes en JANVIER 2023</h3>
                    <p style="color: white;">Hier soir, via un commuiqué sur leur site officiel, la nasa prevoit de deployer une trentaine d'astronaute sur la planete blanche d'ici 2023. Ces astraunotes prendront...</p>
              <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
            <div class="post-box">
              <div class="post-img"><img src="static/siteweb/img/blog/crash.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Fri, September 05</span>
                <span class="post-author"> / Mario Douglas</span>
              </div>
              <h3 class="post-title">Crash a SAN-Franscico</h3>
                    <p style="color: white;">Ce fut un veritable drame dans la localité de San-Franscico un Boieng 749 a fait un crash emportant avec lui 30 blessés et 10 morts...</p>
              <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="600">
            <div class="post-box">
              <div class="post-img"><img src="static/siteweb/img/blog/droneMi.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Tue, July 27</span>
                <span class="post-author"> / Reporter sans frontiere</span>
              </div>
              <h3 class="post-title">Des Drones Tueurs</h3>
              <p style="color: white;">La nouvelle génération des drones militaires fait un ravage dans l'armement, ces bijoux technologiques sont conçus pour detecter...</p>
              <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" data-aos="fade-up">

      <div class="container">

        <div class="section-header">
          <h2>Galerie</h2>
          <p>Decouvrez nos produits et ce qui se passe chez nous</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Drone</li>
            <li data-filter=".filter-product">Aviation</li>
            <li data-filter=".filter-branding">Aeroautique</li>
            <!-- <li data-filter=".filter-books">Divers</li> -->
          </ul><!-- End Portfolio Filters -->

          <div class="row g-0 portfolio-container">

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="static/siteweb/img/portfolio/drone1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Drone X79</h4>
                <a href="static/siteweb/img/portfolio/drone1.jpg" title="App 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
              <img src="static/siteweb/img/portfolio/avion1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Avion Cargo</h4>
                <a href="static/siteweb/img/portfolio/avion1.jpg" title="Product 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
              <img src="static/siteweb/img/portfolio/fusee1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>fusee delta</h4>
                <a href="static/siteweb/img/portfolio/fusee1.jpg" title="Branding 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <!-- <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
              <img src="static/siteweb/img/portfolio/books-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Books 1</h4>
                <a href="static/siteweb/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div> -->
            <!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="static/siteweb/img/portfolio/drone2.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Drone Sauveteur</h4>
                <a href="static/siteweb/img/portfolio/drone2.webp" title="App 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
              <img src="static/siteweb/img/portfolio/avion2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Helicoptere Santa</h4>
                <a href="static/siteweb/img/portfolio/avion2.png" title="Product 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
              <img src="static/siteweb/img/portfolio/fusee2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Dragon</h4>
                <a href="static/siteweb/img/portfolio/fusee2.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <!-- <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
              <img src="static/siteweb/img/portfolio/books-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Books 2</h4>
                <a href="static/siteweb/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div> -->
            <!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="static/siteweb/img/portfolio/drone3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Drone Camera</h4>
                <a href="static/siteweb/img/portfolio/drone3.jpg" title="App 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-product">
              <img src="static/siteweb/img/portfolio/avion3.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Dirigeable</h4>
                <a href="static/siteweb/img/portfolio/avion3.webp" title="Product 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-branding">
              <img src="static/siteweb/img/portfolio/fusee3.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Apollo11</h4>
                <a href="static/siteweb/img/portfolio/fusee3.webp" title="Branding 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <!-- <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-books">
              <img src="static/siteweb/img/portfolio/books-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Books 3</h4>
                <a href="static/siteweb/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div> -->
            <!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/siteweb/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Vous etes etudiant ? Chercheur ? ou passioné d'aeronautique ? Participez a <em>Catso Hackaton</em> Et tentez d'integrer l'equipe</h3>
            <p> Deposez un projet, un article ou bien un documentaire, l'equipe Catso et la communauté l'evaluera et les meilleurs auteurs se veront offrir une place dans Catso Equipe</p>
            <a class="cta-btn align-self-start" href="#"> <i class="bi-patch-plus-fill"></i> Participer</a>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="static/siteweb/img/recrute.gif" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Call To Action Section -->



    <!-- ======= F.A.Q Section ======= -->
    <!-- <section id="faq" class="faq">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>

            <div class="accordion accordion-flush px-xl-5" id="faqlist">

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    Non consectetur a erat nam at lectus urna duis?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </div>
                </div>
              </div> -->
              <!-- # Faq item-->

              <!-- <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div> -->
              <!-- # Faq item-->

              <!-- <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </div>
                </div>
              </div> -->
              <!-- # Faq item-->

              <!-- <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div> -->
              <!-- # Faq item-->

              <!-- <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                  </div>
                </div>
              </div> -->
              <!-- # Faq item-->

            <!-- </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("static/siteweb/img/faq.jpg");'>&nbsp;</div>
        </div>

      </div>
    </section> -->
    <!-- End F.A.Q Section -->

    

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="static/siteweb/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div> -->
          <!-- End Team Member -->

          <!-- <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="static/siteweb/img/team/team-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div> -->
          <!-- End Team Member -->

          <!-- <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
            <div class="team-member">
              <div class="member-img">
                <img src="static/siteweb/img/team/team-3.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div> -->
          <!-- End Team Member -->

        <!-- </div>

      </div>
    </section> -->
    <!-- End Team Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p></p>
        </div>

      </div>

      <!-- <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div> -->
      <!-- End Google Maps -->

      <div class="container">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Contactez nous</h3>
              <p>Pou plus d'information concernant nos produits ou nos projet veuillez nous joindre via</p>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Messassi, Yaoundé, Cameroun</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>catsoEn@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+237 690638290</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/siteweb/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/siteweb/vendor/aos/aos.js"></script>
  <script src="static/siteweb/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/siteweb/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/siteweb/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/siteweb/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/siteweb/js/main.js"></script>

  <script>
    // Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2024 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

// Get today's date and time
var now = new Date().getTime();
  
// Find the distance between now and the count down date
var distance = countDownDate - now;
  
// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
// Output the result in an element with id="demo"
document.getElementById("demo").innerHTML = " - " + days + " Jours" + "<br />" + hours + "h "
+ minutes + "m " + seconds + "s ";
  
// If the count down is over, write some text 
if (distance < 0) {
  clearInterval(x);
  document.getElementById("demo").innerHTML = "EXPIRED";
}
}, 1000);
  </script>
</body>

</html>